<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$title}</title>
    <script>
      window.lang = {$lang};
      window.manage = {$manage};
    </script>
    {if !$vite['dev']}
    <link rel="stylesheet" href="/web/{$manifest['css']}" />
    <script type="module" src="/web/{$manifest['js']}"></script>
    {else}
    <script type="module">
      import RefreshRuntime from "http://localhost:{$vite['port']}/web/@react-refresh"
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="http://localhost:{$vite['port']}/web/@vite/client"></script>
    {/if}
</head>
<body  class="bg-page text-primary">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>

    {if $vite['dev']}
    <script type="module" src="http://localhost:{$vite['port']}/web/src/index.tsx"></script>
    {/if}
</body>
</html>